{
  "env": {
    "node": true,
    "es6": true
  },
  "globals": {
    "describe": true,
    "expect": true,
    "it": true,
    "before": true,
    "after": true,
    "beforeEach": true,
    "afterEach": true,
    "require": true,
    "console": true,
    "module": true,
    "process": true
  },
  "plugins": ["lodash"],
  "extends": ["plugin:lodash/recommended"],
  "rules": {
    "dot-notation": 0,
    "no-bitwise": 2,
    "curly": 2,
    "eqeqeq": 2,
    "guard-for-in": 2,
    "wrap-iife": [
      2,
      "any"
    ],
    "no-use-before-define": 2,
    "new-cap": 2,
    "no-caller": 2,
    "no-new": 2,
    "no-plusplus": 2,
    "no-empty": 2,
    "no-undef": 2,
    "no-unused-vars": 2,
    "no-eq-null": 2,
    "indent": [
      2,
      2,
      {
        "SwitchCase": 1
      }
    ],
    "strict": 1,
    "no-eval": 2,
    "quotes": [
      2,
      "double"
    ],
    "max-len": [
      2,
      120,
      2,
      {ignoreComments: true }
    ],
    "max-statements": [
      2,
      30
    ],
    "complexity": [
      2,
      7
    ],
    "max-params": [
      2,
      4
    ],
    "max-depth": [
      2,
      5
    ],
    "one-var": 0,
    "brace-style": 0,
    "no-multiple-empty-lines": 0,
    "eol-last": 0,
    "space-return-throw-case": 0,
    "keyword-spacing": [2,
      {
        "before": true,
        "after": true,
        "overrides": {
          "var": {"before": false}
        }
      }
    ],
    "comma-dangle": [
      2,
      "never"
    ]
  }
}
